header {
	position: absolute top;
	padding: 5px;
}

footer {
	clear: both;
	font: Arial;
	text-align: center;
}

textarea {
	width: 250px;
	height: 20px;
}

#image_menulogo {
	height: 40px;
	width: 40px;
}
#navigation {
	float: left;
	width: 20%;
	background: green;
}

#main_container {
	float: left;
	width: 60%;
	background: blue;
}

#discounts {
	float: right;
	width: 20%;
	background: yellow;
}

